---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Enfermería a Nivel Domiciliario y Hospitalario | SMD Vital',
  description:
    'Servicios de enfermería profesional en Bogotá, a domicilio o en hospitales. Atención de calidad, personalizada y disponible las 24 horas.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Emergencia',
          href: 'tel:3042912564',
        },
        {
          variant: 'primary',
          text: 'WhatsApp',
          href: 'https://wa.me/573042912564',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Cuidamos de Ti, Donde Estés"
    actions={[
      { variant: 'primary', target: '_blank', text: 'WhatsApp', href: 'https://wa.me/573042912564' },
      { variant: 'secondary', text: 'Llamada de emergencia', href: 'tel:3042912564' },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/3279197/pexels-photo-3279197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Enfermería a Domicilio y Hospitalario',
    }}
  >
    <Fragment slot="title">
      Atención de Enfermería con <br /><span class="text-accent dark:text-white highlight">SMD Vital</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Profesionales en enfermería listos para brindarte atención personalizada en tu hogar o en hospitales.</span
      >
      Estamos disponibles las 24 horas, todos los días de la semana.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="¿Por qué elegir nuestro servicio de Enfermería?"
    subtitle="Beneficios únicos de nuestra atención especializada"
    columns={2}
    items={[
      {
        title: 'Atención Personalizada',
        description:
          'Adaptamos nuestro cuidado a tus necesidades específicas, asegurando una experiencia confortable y profesional.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Disponibilidad 24/7',
        description: `Estamos disponibles en cualquier momento que necesites, sin importar la hora o el día.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Enfermería Domiciliaria',
        description: 'Ofrecemos servicios en la comodidad de tu hogar, ideales para personas con movilidad limitada.',
        icon: 'tabler:writing',
      },
      {
        title: 'Apoyo en Entornos Hospitalarios',
        description: `Colaboramos con el personal médico en hospitales para asegurar una atención integral.`,
        icon: 'tabler:podium',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Casos de Uso"
    subtitle="Descubre cómo SMD Vital Bogotá puede cubrir tus necesidades de enfermería."
    isReversed
    items={[
      {
        title: 'Cuidado Postquirúrgico',
        description:
          'Brindamos apoyo en la recuperación después de cirugías, asegurando que sigas las recomendaciones médicas al pie de la letra.',
      },
      {
        title: 'Cuidado de Pacientes Crónicos',
        description: `Atendemos a pacientes con enfermedades crónicas, garantizando su comodidad y manejo adecuado de tratamientos.`,
      },
      {
        title: 'Asistencia en Terapias',
        description: `Ayudamos con la administración de medicamentos y la realización de terapias médicas en casa o en hospitales.`,
      },
      {
        title: 'Cuidado Paliativo',
        description: `Proporcionamos apoyo emocional y médico a pacientes en etapas avanzadas de enfermedades.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/6129193/pexels-photo-6129193.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Casos de Uso de Enfermería',
    }}
  />

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Enfermería para Control de Salud',
        description: `Monitoreamos signos vitales y realizamos chequeos regulares para mantener tu bienestar.`,
      },
      {
        title: 'Beneficios:',
        description: `Seguimiento continuo y detallado. <br /> Atención en la comodidad de tu hogar. <br /> Prevención de complicaciones médicas.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/6097980/pexels-photo-6097980.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Control de Salud en Enfermería',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Monitoreo Preventivo <br /><span class="text-2xl">y Cuidado Continuo</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Enfermería Especializada',
        description: `Atendemos casos complejos que requieren conocimientos específicos y experiencia médica avanzada.`,
      },
      {
        title: 'Beneficios:',
        description: `Soluciones personalizadas para cada paciente. <br /> Apoyo integral en situaciones críticas. <br /> Equipo capacitado y con experiencia.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/4386467/pexels-photo-4386467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Enfermería Especializada',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Soluciones Médicas <br /><span class="text-2xl">Personalizadas</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: 'Apoyo en Terapias Avanzadas',
        description: `Acompañamos tratamientos especializados como quimioterapias, garantizando comodidad y seguridad.`,
      },
      {
        title: 'Beneficios:',
        description: `Reducción del estrés durante el tratamiento. <br /> Coordinación eficaz con especialistas médicos. <br /> Atención empática y profesional.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/3825586/pexels-photo-3825586.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Apoyo en Terapias Avanzadas',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Terapias Avanzadas <br /><span class="text-2xl">con Cuidado Profesional</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    items={[
      {
        title: '¿Qué incluye el servicio de enfermería?',
        description:
          'Incluye atención personalizada, monitoreo de salud, y administración de medicamentos, entre otros.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿El servicio está disponible a domicilio?',
        description: `Sí, ofrecemos atención de enfermería en la comodidad de tu hogar para mayor conveniencia.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cuáles son los horarios de atención?',
        description: 'Estamos disponibles las 24 horas, los 7 días de la semana para atender tus necesidades médicas.',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contáctanos"
    subtitle="¿Tienes preguntas sobre nuestro servicio de enfermería? ¡Estamos aquí para ayudarte!"
    callToAction={{
      text: 'WhatsApp',
      href: 'https://wa.me/573042912564',
    }}
    items={[
      {
        title: 'Correo electrónico',
        description: 'salud@smdvitalbogota.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call Center',
        description: '+57 (304) 291-2564',
        icon: 'tabler:headset',
      },
      {
        title: 'Síguenos',
        description: '@smdvitalbogota',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Aprende más sobre servicios de enfermería"
    information={`Nuestro blog está diseñado para ofrecerte información útil y consejos sobre el cuidado de la salud. ¡Gracias por leernos!`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
