---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Servicios Médicos Domiciliarios en Bogotá | SMD Vital',
  description: 'Nuestros médicos a domicilio en Bogotá ofrecen atención médica de calidad en la comodidad de tu hogar. Olvídate del tráfico y las largas esperas en salas de espera, ¡contáctanos!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Agendar',
        href: 'https://wa.link/7cprhk',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Call Center', href: 'tel:3208862408' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'SMD Vital Bogota Hero Image' }}
  >
    <Fragment slot="title">
      Médicos a domicilio en Bogotá: <span class="hidden xl:inline">La opción
        ideal para recibir</span>
      <span class="text-accent dark:text-white highlight"> atención médica</span> en la
      comodidad de tu hogar
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">¿Necesitas atención médica pero no puedes salir de casa?</span> No te preocupes, los médicos a domicilio en Bogotá
        son la opción ideal para recibir atención médica en la comodidad de tu hogar.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"> En esta ciudad cosmopolita</span>
        cada vez más personas optan por este servicio conveniente y eficiente.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="¿Qué es un médico a domicilio en Bogotá?"
    subtitle="Un médico a domicilio en Bogotá es un profesional de la salud que se desplaza hasta la residencia del paciente para ofrecer atención médica."
    items={[
      {
        title: 'Servicios de Enfermería a Domicilio',
        description:
          ' Cuidados Postoperatorios: Asistencia especializada para la recuperación después de cirugías.<br>  Monitorización de Signos Vitales: Control regular de la presión arterial, temperatura y otros signos vitales.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Valoraciones Médicas Complejas',
        description:
          'Evaluaciones Médicas Integrales: Diagnósticos y seguimiento de condiciones de salud.<br> Consultas Especializadas: Valoraciones por especialistas según la necesidad del paciente.',
        icon: 'tabler:components',
      },
      {
        title: 'Terapias Intravenosas a Domicilio',
        description:
          'Administración de Medicamentos: Tratamientos intravenosos administrados en el hogar.<br> Hidratación Intravenosa: Terapia de fluidos para pacientes deshidratados o con condiciones crónicas.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Lavado de Oídos en Casa',
        description:
          'Eliminación de Cera: Procedimientos seguros para la limpieza y desobstrucción del oído.<br> Tratamiento de Infecciones: Diagnóstico y tratamiento de infecciones del oído.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Cambio de Sondas Vesicales',
        description:
          "Reemplazo de Sondas: Cambios regulares de sondas vesicales para asegurar la comodidad del paciente. <br> Educación al Paciente: Instrucción sobre el cuidado adecuado de las sondas vesicales.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Vacunación a Domicilio',
        description:
          'Inmunización: Aplicación de vacunas según el calendario de vacunación.<br> Vacunas para Viajeros: Vacunas específicas para personas que planean viajar.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="Ventajas de recibir atención médica en casa"
    items={[
      {
        title: 'Comodidad del hogar',
        description:
          'El paciente se siente más relajado y tranquilo en su propio entorno, lo que facilita la recuperación.',
      },
      {
        title: 'Atención personalizada',
        description:
          'Los servicios se adaptan a las necesidades específicas del paciente, garantizando un enfoque individualizado.',
      },
      {
        title: 'Reducción de riesgos de infección',
        description:
          'Estar en casa minimiza la exposición a gérmenes y bacterias presentes en hospitales.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Mejoramos para ti un servicio de alto nivel</h3>
      Donde estés, SMD Vital estará contigo.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Ahorro de tiempo y costos',
        description: `Evita los desplazamientos a centros de salud, reduciendo gastos de transporte y tiempo de espera.`,
      },
      {
        title: 'Mejor calidad de vida',
        description:
          'El paciente puede mantener su rutina diaria, lo que mejora su bienestar emocional y mental.',
      },
      {
        title: 'Seguimiento continuo',
        description:
          "El monitoreo es más constante, permitiendo ajustes en los tratamientos de manera oportuna.",
      },
      {
        title: 'Mayor privacidad',
        description:
          'Al estar en casa, se garantiza una mayor privacidad y discreción en los cuidados médicos.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Nos aseguramos de que nuestras promesas sean reales</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Apoyo familiar',
        description:
          'Los familiares pueden participar activamente en el cuidado, brindando soporte emocional.',
      },
      {
        title: 'Flexibilidad horaria',
        description:
          'Los servicios se pueden programar en horarios convenientes, adaptándose a la rutina del paciente y su familia.',
      },
      {
        title: 'Recuperación acelerada',
        description:
          'El entorno familiar puede favorecer una recuperación más rápida al disminuir el estrés del paciente.',
      },
      {
        title: 'Educación a cuidadores',
        description: `Los profesionales de la salud capacitan a los cuidadores sobre cómo manejar al paciente, brindando mayor confianza y seguridad.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designamos nuestro mayor esfuerzo y compromiso</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Cómo obtener la mejor atención médica: Pasos clave para tu bienestar"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Encuentra los botones de contacto</span>',
        description:
          "En nuestra página, busca los botones de contacto que te dirigirán directamente a nuestro canal de WhatsApp.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Acceso rápido a asesores</span>',
        description:
          "Al hacer clic en el botón, serás redirigido a WhatsApp, donde uno de nuestros asesores estará disponible para responder casi de inmediato.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Escríbenos tu mensaje</span>',
        description:
          'Envía tu consulta o solicitud a través de WhatsApp y recibirás una respuesta rápida y personalizada. ¡Estamos aquí para ayudarte!',
        icon: 'tabler:paint',
      },
      {
        title: 'Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="¿Cuándo es recomendable solicitar atención médica a domicilio en Bogotá?"
    subtitle="La atención médica a domicilio en Bogotá es recomendable en diversas situaciones que van más allá de la simple conveniencia. Por ejemplo,"
    tagline="Components"
    items={[
      {
        title: 'Pacientes con movilidad reducida',
        description: "Cuando el paciente tiene dificultades para desplazarse debido a lesiones, discapacidad o enfermedades crónicas, la atención en casa es la mejor opción.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Recuperación postquirúrgica',
        description:
          "Después de una cirugía, recibir cuidados en casa puede acelerar la recuperación y evitar complicaciones al permanecer en un entorno controlado y seguro.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Cuidados paliativos',
        description:
          'Para pacientes con enfermedades terminales, la atención domiciliaria garantiza comodidad y cuidados compasivos sin la necesidad de hospitalización.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Terapias a largo plazo',
        description:
          "En casos donde se requiere fisioterapia, terapia respiratoria o cualquier tipo de tratamiento prolongado, el servicio en casa facilita la continuidad sin interrupciones.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Personas mayores',
        description:
          'Los adultos mayores que requieren atención constante o chequeos frecuentes se benefician de la comodidad y tranquilidad de su hogar.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Control de enfermedades crónicas',
        description: 'Pacientes con condiciones como diabetes, hipertensión o EPOC pueden recibir chequeos y ajustes en su tratamiento sin tener que acudir a un centro médico.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Niños con condiciones especiales',
        description: 'Los niños con enfermedades o necesidades médicas específicas pueden recibir una atención menos estresante en su hogar, reduciendo la ansiedad.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Tratamiento de heridas o suturas',
        description:
          'Para heridas que requieren sutura o curación frecuente, la atención médica en casa evita desplazamientos innecesarios y asegura un seguimiento adecuado.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Evaluaciones y pruebas diagnósticas',
        description: "Los exámenes de laboratorio, pruebas de COVID o chequeos generales se pueden realizar en casa, brindando comodidad y reduciendo el riesgo de contagio en ambientes clínicos.",
        icon: 'flat-color-icons:approval',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Encuentra más contenido en nuestro Blog"
    information={`Este blog ha sido creado para ayudarte a entender la importancia de la prevención a tiempo. Cada artículo te mostrará cómo prevenir enfermedades y mantener una buena salud. ¡Gracias por leer!
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes "
    subtitle="Trataremos de aclarar algunas dudas generales"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Cuáles son los beneficios de la atención médica domiciliaria?',
        description:
          "La <strong>atención médica domiciliaria</strong> brinda una serie de beneficios, como la <strong>comodidad</strong> de recibir <strong>servicios de salud</strong> en la familiaridad de su hogar. Además, reduce el <strong>riesgo de infecciones</strong> asociadas a los hospitales y permite una <strong>atención personalizada</strong> y centrada en el paciente.",
      },
      {
        title: '¿Cómo puedo solicitar una visita médica a domicilio?',
        description:
          'Puede solicitar una <strong>visita médica a domicilio</strong> poniéndose en contacto con nuestro equipo a través de nuestro sitio web, correo electrónico o llamada telefónica. Nuestro personal estará encantado de programar una visita médica en la fecha y hora que mejor le convenga.',
      },
      {
        title: '¿Qué qualificaciones tienen los profesionales que brindan la atención médica domiciliaria?',
        description:
          "Todos nuestros profesionales de la salud que brindan <strong>atención médica domiciliaria</strong> son altamente calificados y tienen la experiencia necesaria en su campo. Nuestro equipo incluye <strong>médicos</strong>, <strong>enfermeras</strong> y otros profesionales de la salud que están capacitados para brindar una <strong>atención de alta calidad</strong> y personalizada en su hogar.",
      },
      {
        title: "¿Qué servicios de salud se pueden obtener en casa?",
        description:
          "En casa, se pueden obtener una amplia gama de <strong>servicios de salud</strong>, que incluyen <strong>atención médica y de enfermería personalizada</strong>, control de <strong>enfermedades crónicas</strong>, curaciones de heridas, control y administración de medicamentos, y seguimiento médico regular.",
      },
      {
        title: '¿Cuánto cuesta la atención médica a domicilio?',
        description:
          "El costo de la <strong>atención médica a domicilio</strong> puede variar según el tipo de servicio y la ubicación. Le recomendamos que se ponga en contacto con nuestro equipo para obtener más información sobre los precios y las opciones de pago.",
      },
      {
        title: '¿La atención médica a domicilio tiene costo adicional?',
        description:
          "La <strong>atención médica a domicilio</strong> no está cubierta por seguros, por lo que el costo puede variar según el tipo de servicio y la ubicación. Le recomendamos que se ponga en contacto con nuestro equipo para obtener más información sobre los precios y las opciones de pago.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Servicios', amount: '19.1K' },
      { title: 'Estrellas', amount: '3.2K' },
      { title: 'Clientes Sastifechos', amount: '97%' },
      { title: 'Clientes', amount: '2.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Agendar',
        href: 'https://wa.link/7cprhk',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      SMD&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Vital Bogota</span>
    </Fragment>

    <Fragment slot="subtitle">
      SMD Vital te ofrece atención médica de calidad en casa, con un equipo profesional y dedicado.  <br class="hidden md:inline" />¡Tu salud es nuestra prioridad!
    </Fragment>
  </CallToAction>
</Layout>
