---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';


import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Inyectología a Domicilio | SMD Vital',
  description: 'Servicios de inyectología a domicilio en Bogotá. Profesionales capacitados para brindarte tratamientos seguros y cómodos en la comodidad de tu hogar.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Emergencia',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'WhatsApp',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Inyectología Profesional a tu Alcance"
    actions={[
      { variant: 'primary', target: '_blank', text: 'WhatsApp', href: 'https://wa.me/573042912564' },
      { variant: 'secondary', text: 'Agenda una cita', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580281657527-4c36b1f2475c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Inyectología a Domicilio',
    }}
  >
    <Fragment slot="title">
      Inyectología <br /><span class="text-accent dark:text-white highlight">a Domicilio</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Tratamientos de inyectología realizados por profesionales certificados en la comodidad de tu hogar.</span>
      Disfruta de la conveniencia y seguridad de recibir atención médica sin desplazarte.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="¿Por qué elegir nuestro servicio de inyectología a domicilio?"
    subtitle="Comprometidos con tu salud y comodidad"
    columns={2}
    items={[
      {
        title: 'Profesionales Certificados',
        description:
          'Nuestro equipo está compuesto por especialistas en inyectología altamente capacitados y certificados.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'Tratamientos Personalizados',
        description: `Ofrecemos planes de tratamiento adaptados a tus necesidades específicas para garantizar resultados óptimos.`,
        icon: 'tabler:adjustments',
      },
      {
        title: 'Comodidad y Seguridad',
        description:
          'Recibe tus tratamientos en la comodidad de tu hogar, siguiendo estrictos protocolos de higiene y seguridad.',
        icon: 'tabler:home',
      },
      {
        title: 'Tecnología Avanzada',
        description: `Utilizamos equipos y técnicas de última generación para asegurar la eficacia y seguridad de cada procedimiento.`,
        icon: 'tabler:device-laptop',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Nuestros Servicios"
    subtitle="Descubre cómo SMD Vital Bogotá puede ayudarte con tus tratamientos de inyectología."
    isReversed
    items={[
      {
        title: 'Evaluación Inicial',
        description:
          'Realizamos una consulta detallada para entender tus necesidades y diseñar el plan de tratamiento adecuado.',
      },
      {
        title: 'Aplicación Segura de Inyecciones',
        description: `Administramos inyecciones con técnicas esterilizadas y seguras para maximizar los beneficios y minimizar molestias.`,
      },
      {
        title: 'Seguimiento y Monitoreo',
        description: `Realizamos un seguimiento continuo para evaluar la efectividad del tratamiento y realizar ajustes si es necesario.`,
      },
      {
        title: 'Asesoramiento y Soporte',
        description: `Te proporcionamos orientación y apoyo continuo para asegurar tu bienestar durante todo el proceso de tratamiento.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Servicios de Inyectología a Domicilio',
    }}
  />

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Alivio Rápido del Dolor',
        description: `Nuestros tratamientos están diseñados para proporcionar alivio rápido y efectivo del dolor, mejorando tu calidad de vida.`,
      },
      {
        title: 'Beneficios:',
        description: `Reducción del dolor crónico. <br /> Mejora de la movilidad. <br /> Bienestar general optimizado.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1584466977774-20fda7cb9c7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Alivio y Beneficios de Nuestros Tratamientos',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Alivio y Bienestar <br /><span class="text-2xl">Garantizados</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Cuidado Integral',
        description: `Nos enfocamos en tu bienestar general, ofreciendo tratamientos que abordan múltiples aspectos de tu salud.`,
      },
      {
        title: 'Beneficios:',
        description: `Mejora de la salud general. <br /> Prevención de complicaciones. <br /> Aumento de la vitalidad.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576765607924-3b3b4fb776c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1650&q=80',
      alt: 'Cuidado Integral de la Salud',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Cuidado Integral <br /><span class="text-2xl">de tu Salud</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: 'Atención en Emergencias',
        description: `Proporcionamos atención inmediata en casos de emergencias relacionadas con tratamientos de inyectología.`,
      },
      {
        title: 'Beneficios:',
        description: `Respuesta rápida y efectiva. <br /> Minimización de riesgos de complicaciones. <br /> Tranquilidad en situaciones críticas.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580281657527-4c36b1f2475c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Atención en Emergencias de Inyectología',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Atención Rápida <br /><span class="text-2xl">y Segura</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    items={[
      {
        title: '¿Qué es la inyectología?',
        description:
          'La inyectología es una rama de la medicina que se encarga de la administración de tratamientos mediante inyecciones, como vitaminas, medicamentos y otros compuestos terapéuticos.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Es seguro recibir inyecciones a domicilio?',
        description: `Sí, contamos con profesionales certificados y seguimos estrictos protocolos de higiene y seguridad para garantizar tu bienestar.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué tipos de tratamientos ofrecen?',
        description:
          'Ofrecemos una variedad de tratamientos, incluyendo vitaminas, inmunizaciones, terapias de dolor y más, adaptados a tus necesidades específicas.',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contáctanos"
    subtitle="¿Tienes preguntas sobre nuestro servicio de inyectología a domicilio? ¡Estamos aquí para ayudarte!"
    callToAction={{
      text: 'WhatsApp',
      href: 'https://wa.me/573042912564',
    }}
    items={[
      {
        title: 'Correo electrónico',
        description: 'salud@smdvitalbogota.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call Center',
        description: '+57 (304) 291-2564',
        icon: 'tabler:headset',
      },
      {
        title: 'Síguenos',
        description: '@smdvitalbogota',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Conoce más sobre la inyectología y sus beneficios"
    information={`Visita nuestro blog para aprender más sobre los diferentes tratamientos de inyectología, sus beneficios y cómo pueden mejorar tu salud. ¡Gracias por leernos!`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
