---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Laboratorio a Domicilio | SMD Vital',
  description:
    'Servicios de laboratorio a domicilio en Bogotá, Colombia. Realizamos análisis clínicos y pruebas diagnósticas en la comodidad de tu hogar con profesionales certificados.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Emergencia',
          href: 'tel:3042912564',
        },
        {
          variant: 'primary',
          text: 'WhatsApp',
          href: 'https://wa.me/573042912564',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Laboratorio Clínico a tu Alcance"
    actions={[
      { variant: 'primary', target: '_blank', text: 'WhatsApp', href: 'https://wa.me/573042912564' },
      { variant: 'secondary', text: 'Agenda una cita', href: '#features' },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/954585/pexels-photo-954585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Laboratorio a Domicilio en Bogotá',
    }}
  >
    <Fragment slot="title">
      Laboratorio <br /><span class="text-accent dark:text-white highlight">a Domicilio</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Análisis clínicos y pruebas diagnósticas realizadas por profesionales certificados en tu hogar.</span
      >
      Disfruta de la comodidad y seguridad de recibir servicios de laboratorio en la comodidad de tu hogar en Bogotá, Colombia.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="¿Por qué elegir nuestro servicio de laboratorio a domicilio?"
    subtitle="Comprometidos con tu salud y comodidad en Bogotá"
    columns={2}
    items={[
      {
        title: 'Profesionales Certificados',
        description:
          'Contamos con técnicos de laboratorio altamente capacitados y certificados para realizar análisis precisos y confiables.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'Comodidad y Seguridad',
        description: `Recibe tus análisis clínicos en la comodidad de tu hogar, siguiendo estrictos protocolos de higiene y seguridad en Bogotá.`,
        icon: 'tabler:home',
      },
      {
        title: 'Resultados Rápidos',
        description:
          'Obtén tus resultados en tiempo récord gracias a nuestros eficientes procesos y tecnología avanzada.',
        icon: 'tabler:clock',
      },
      {
        title: 'Amplia Variedad de Pruebas',
        description: `Ofrecemos una amplia gama de pruebas diagnósticas, desde análisis de sangre hasta pruebas especializadas, adaptadas a tus necesidades.`,
        icon: 'tabler:clipboard-list',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Nuestros Servicios"
    subtitle="Descubre cómo SMD Vital Bogotá puede ayudarte con tus análisis clínicos a domicilio."
    isReversed
    items={[
      {
        title: 'Evaluación Inicial',
        description:
          'Realizamos una consulta detallada para entender tus necesidades y determinar las pruebas de laboratorio adecuadas.',
      },
      {
        title: 'Toma de Muestras en Casa',
        description: `Nuestros técnicos realizan la toma de muestras en tu hogar, asegurando un proceso cómodo y seguro en Bogotá.`,
      },
      {
        title: 'Procesamiento de Muestras',
        description: `Las muestras son procesadas en nuestros laboratorios certificados, garantizando resultados precisos y confiables.`,
      },
      {
        title: 'Entrega de Resultados',
        description: `Recibe tus resultados de manera rápida y segura a través de nuestra plataforma en línea o directamente en tu hogar.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/7772011/pexels-photo-7772011.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Servicios de Laboratorio a Domicilio',
    }}
  />

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Atención Personalizada',
        description: `Nos adaptamos a tus horarios y necesidades para ofrecerte un servicio personalizado y eficiente.`,
      },
      {
        title: 'Beneficios:',
        description: `Ahorro de tiempo. <br /> Mayor comodidad. <br /> Resultados confiables y rápidos.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/8544959/pexels-photo-8544959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Atención Personalizada en Laboratorio a Domicilio',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Comodidad y Eficiencia <br /><span class="text-2xl">en Cada Paso</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Tecnología Avanzada',
        description: `Utilizamos equipos de última generación para asegurar la precisión y rapidez en cada análisis.`,
      },
      {
        title: 'Beneficios:',
        description: `Resultados más precisos. <br /> Menor tiempo de espera. <br /> Mayor confiabilidad en los diagnósticos.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/7722793/pexels-photo-7722793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Tecnología Avanzada en Laboratorio',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Precisión y Confianza <br /><span class="text-2xl">Garantizadas</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Soporte Continuo',
        description: `Nuestro equipo está disponible para responder tus dudas y proporcionarte el soporte necesario durante todo el proceso.`,
      },
      {
        title: 'Beneficios:',
        description: `Asesoramiento personalizado. <br /> Atención inmediata a tus consultas. <br /> Tranquilidad y confianza en nuestro servicio.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/8851069/pexels-photo-8851069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Soporte Continuo en Laboratorio a Domicilio',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Soporte y Atención <br /><span class="text-2xl">Personalizada</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    items={[
      {
        title: 'Atención en Emergencias',
        description: `Proporcionamos servicios rápidos y eficientes para tus necesidades de laboratorio en situaciones de emergencia.`,
      },
      {
        title: 'Beneficios:',
        description: `Respuesta inmediata. <br /> Minimización de riesgos. <br /> Tranquilidad en momentos críticos.`,
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/9574396/pexels-photo-9574396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Atención en Emergencias de Laboratorio a Domicilio',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Atención Rápida <br /><span class="text-2xl">y Segura</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    items={[
      {
        title: '¿Qué servicios de laboratorio a domicilio ofrecen?',
        description:
          'Ofrecemos una variedad de análisis clínicos, incluyendo hemogramas, pruebas de glucosa, perfiles lipídicos, pruebas hormonales, entre otros.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cómo agendar una cita para un análisis a domicilio?',
        description: `Puedes agendar una cita fácilmente a través de nuestro WhatsApp, llamando a nuestro call center o completando el formulario en nuestro sitio web.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Es seguro realizar análisis de laboratorio en casa?',
        description:
          'Sí, seguimos estrictos protocolos de higiene y seguridad para garantizar la seguridad tanto de nuestros pacientes como de nuestros profesionales.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cuánto tiempo tardaré en recibir los resultados?',
        description:
          'La mayoría de los análisis son procesados en 24 a 48 horas, y puedes recibir tus resultados a través de nuestra plataforma en línea o directamente en tu hogar.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Qué áreas de Bogotá cubren sus servicios a domicilio?',
        description:
          'Nuestros servicios cubren toda la ciudad de Bogotá, incluyendo sus principales localidades y barrios. Consulta con nosotros para confirmar tu ubicación específica.',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contáctanos"
    subtitle="¿Tienes preguntas sobre nuestro servicio de laboratorio a domicilio? ¡Estamos aquí para ayudarte!"
    callToAction={{
      text: 'WhatsApp',
      href: 'https://wa.me/573042912564',
    }}
    items={[
      {
        title: 'Correo electrónico',
        description: 'salud@smdvitalbogota.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call Center',
        description: '+57 (304) 291-2564',
        icon: 'tabler:headset',
      },
      {
        title: 'Síguenos',
        description: '@smdvitalbogota',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Conoce más sobre nuestros servicios de laboratorio"
    information={`Visita nuestro blog para aprender más sobre los diferentes análisis clínicos, su importancia y cómo pueden ayudarte a mantener una buena salud. ¡Gracias por leernos!`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
